@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: var(--light-bg);
}

:root {
  --bg-clr: #006B4F;
  --pry-clr: #0A0F1A;
  --txt-clr: #FFFFFF;
  --prof-clr: #669917;
  --acc-clr: #9BDD37;
  --tet-clr: #00A63E;
  --sec-clr: #c0c0c0;
  --dark-bg: #0f172a;

  --pry-ff: "Plus Jakarta Sans", sans-serif;
  --sec-ff: "Manrope", sans-serif;
}

.bg-clr {
  color: var(--bg-clr);
  border: 1px solid var(--bg-clr);
}

.pry-clr {
  color: var(--pry-clr);
  border: 1px solid var(--pry-clr);
}

.acc-clr {
  color: var(--acc-clr);
  background-color: var(--acc-clr);
  border: 1px solid var(--acc-clr);
  text-shadow:
    0 0 5px var(--acc-clr),
    0 0 10px var(--acc-clr),
    0 0 20px var(--acc-clr),
    0 0 30px var(--acc-clr),
    0 0 40px var(--acc-clr);
}

.txt-clr {
  color: var(--txt-clr);
  border: 1px solid var(--txt-clr);
}

.tet-clr {
  color: var(--tet-clr);
  border: 1px solid var(--tet-clr);
}

.sec-clr {
  color: var(--sec-clr);
}

.pry-ff {
  font-family: var(--pry-ff);
}

.sec-ff {
  font-family: var(--sec-ff);
}